@page "/Spa"
@using System.Text.Json
@using TerzaApp.Dati.Strutture
@inject TerzaApp.Dati.Archivio db

<Titolo titolo="Prodotti" ricerca="true" OnRicerca="testo => ricerca = testo">
    <u>usa questa pagina per gestire i tuoi prodotti!</u>
</Titolo>

@if (@stoInserendo)
{
    <div class ="row">
        <div class="col-md-3"><b>Nome</b></div>
        <div class="col-md-3"><input @bind="bozza.Nome" class="form-control mb-2" /></div>
        <div class="col-md-3"><b>Prezzo</b></div>
        <div class="col-md-3"><input type="number" @bind="bozza.Prezzo" min="0" class="form-control mb-2" /></div>
        <div class="col-md-3"><b>Descrizione</b></div>
        <div class="col-md-3"><textarea @bind="bozza.Descrizione" class="form-control mb-2"></textarea></div>
        <div class="col-md-3"><b>Categoria</b></div>
        <div class="col-md-3">
            <ListaLut elementi="db.categorie" etichetta="categoria..." PK="x => x.IDcategoria" OnSelect="x => bozza.IDcategoria = x" ID="bozza.IDcategoria"/>
        </div>
        <div class="col-md-3"><b>Collezione</b></div>
        <div class="col-md-3">
            <ListaLut elementi="db.collezioni" etichetta="collezione..." PK="x => x.IDcollezione" OnSelect="x => bozza.IDcollezione = x" ID="bozza.IDcollezione"/>
        </div>
        <div class="col-md-3"><b>Immagine</b></div>
        <div class="col-md-3">
            <select @onchange="immagineModificata" class="form-select mb-2">
                <option value="Nessuna">Nessuna</option>
                @foreach (var file in Directory.GetFiles(Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Immagini")))
                {
                    var fileName = Path.GetFileName(file);
                    if (fileName == bozza.href)
                    {
                        <option value="@fileName" selected>@fileName</option>
                    }
                    else
                    {
                        <option value="@fileName">@fileName</option>
                    }
                }
            </select>
            <!-- <div class="col-md-3"><input type="text" @bind="bozza.href" min="0" placeholder="Inserisci il nome dell'immagine" class="form-control mb-2" /></div> -->
        </div>    
        <div class="col-md-3"><b>Disponibilità</b></div>
        <div class="col-md-3"><input type="text" @bind="bozza.Disponibilità" min="0" placeholder="Inserisci la disponibilità" class="form-control mb-2" /></div>
    </div>
    <div class="btn btn-sm btn-success w-auto" @onclick="Salva">Salva</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Categorie</th>
                    <th>Prezzo</th>
                    <th>Collezione</th>
                    <th>Disponibilità</th>
                    <th width="1%"></th>
                    <th width="1%" class="text-end">
                        <div class="btn btn-sm btn-success" @onclick="e => stoInserendo = true">Nuovo</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Prodotto singolo in db.prodotti)
                {
                    if (singolo.Nome.Contains(ricerca) || singolo.Descrizione.Contains(ricerca))
                    {
                        <tr>
                            <td>@singolo.Nome</td>
                            <td>@singolo.Descrizione</td>
                            <td>@db.categorie.FirstOrDefault(x => x.IDcategoria == singolo.IDcategoria)</td>
                            <td>@singolo.Currency</td>
                            <td>@db.collezioni.FirstOrDefault(x => x.IDcollezione == singolo.IDcollezione)</td>
                            <td>@singolo.Disponibilità</td>
                            <td class="text-end">
                                <div class="btn btn-sm btn-warning" @onclick="m => Modifica(singolo)">Modifica</div>
                            </td>
                            <td class="text-end">
                                <div class="btn btn-sm btn-danger" @onclick="e => Cancella(singolo) ">Cancella</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
@code {
    //se vogliamo passare dei parametri usiamo le lambda @onclick="F => Funzione(parametro)")
    //Altrimenti solo il nome della funzione @onclick="Funzione"

    bool stoInserendo = false;
    string ricerca = "";
    string categoriaSelezionata = "";
    Prodotto bozza = new Prodotto();

    void categoriaModificata(ChangeEventArgs evento)
    {
        bozza.IDcategoria = int.Parse(evento.Value.ToString());
    }

    void collezioneModificata(ChangeEventArgs evento)
    {
        bozza.IDcollezione = int.Parse(evento.Value.ToString());
    }

    void immagineModificata(ChangeEventArgs evento)
    {
        bozza.href = evento.Value.ToString();
    }

    void Modifica(Prodotto selezionato)
    {
        stoInserendo = true;
        bozza = selezionato;
    }

    protected override void OnInitialized()
    {
        // controllo se esiste un archivio dei prodotti
        base.OnInitialized();
    }

    void Cancella(Prodotto selezionato)
    {
        db.prodotti.Remove(selezionato);
        db.Salva();
    }

    void Salva()
    {
        //se non esiste già
        if (!db.prodotti.Contains(bozza))
        {
            db.addProdotto(bozza);
        }

        /*
          bozza.Categoria = db.FirstOrDefault(c => c.Nome == categoriaSelezionata); Fatto da me senza categoriaModificata,
        */

        // poi salvo
        db.Salva();
        // e infine resetto
        bozza = new Prodotto();
        categoriaSelezionata = "";
        stoInserendo = false;
        
       /*
        if (!string.IsNullOrEmpty(testo))
        {
            string[] parti = testo.Split(',');
            string nomeProdotto = parti[0];
            string descrizioneProdotto = parti[1];
            double prezzoProdotto = double.Parse(parti[2]);
            prodotti.Add(new Prodotto
            {
                Nome = nomeProdotto,
                Descrizione = descrizioneProdotto,
                Prezzo = prezzoProdotto
                });
            testo = "";
            string versioneJSON = JsonSerializer.Serialize(prodotti);
            }
        */
    }
}
  